<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Welcome to the most extraordinary hotel in Boston Massachusetts">
  <meta name="keywords" content="hotel,boston hotel,new england hotel">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}">
  <title>Hotel BT | About</title>
</head>
<body>
  <header>
    <nav id="navbar">
      <div class="container">
        <h1 class="logo"><a href="index.html">HBT</a></h1>
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a class="current" href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <section id="about-info" class="bg-light py-3">
    <div class="container">
      <div class="info-left">
        <h1 class="l-heading"><span class="text-primary">About</span> Hotel BT</h1>
        <p>Hotel BT stands on the edge of lake Dayem viewing the boats that sail pass as well as the birds that fly by. We have the cleanest of rooms and the fanciest of foods.</p>
        <p>Our staff goes through months of training before being able to even enter the building. Every couple hours one of our janitors will come to clean your room.</p>
      </div>
      <div class="info-right">
        <img src="./img/img/hotel_website/img/photo-2.jpg" alt="hotel">
      </div>
    </div>
  </section>

  <div class="clr"></div>

  <section id="testimonials" class="py-3">
    <div class="container">
      <h2 class="l-heading">What Our Guests Say</h2>
      <div class="testimonial bg-primary">
        <img src="./img/img/hotel_website/img/person-1.jpg" alt="Samantha">
        <p>When I was looking for a hotel in boston Hotel BT stuck out on the list for its price and its look. Me and my friends decided that this would be a nice place to hang out for the night, it was awesome! The staff were nice and the food was delicious. I recommend Hotel BT to everyone looking for a place in Boston.</p>
      </div>

      <div class="testimonial bg-primary">
          <img src="./img/img/hotel_website/img/person-2.jpg" alt="Jen">
          <p>When I was looking for a hotel in boston Hotel BT stuck out on the list for its price and its look. Me and my friends decided that this would be a nice place to hang out for the night, it was awesome! The staff were nice and the food was delicious. I recommend Hotel BT to everyone looking for a place in Boston.</p>
        </div>
    </div>
  </section>

  <footer id="main-footer">
    <p>Hotel BT &copy; 2019, All RIghts Reserved</p>
  </footer>
</body>
</html>